/* Custom Styles for Tailwind */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 4rem 0;
}

h2 {
    color: #333;
}

.text-yellow-300 {
    color: #FFDD57;
}

.text-yellow-500 {
    color: #FFB13A;
}

.bg-indigo-600 {
    background-color: #5C6BC0;
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, #5C6BC0, #66BB6A);
}
